<hgroup>
  <mat-label class="left" mat-dialog-close id="back"> < Back</mat-label>
  <mat-label class="right" id="user_info">User info for </mat-label>
</hgroup>

<table>
  <tr>
    <td>
      <mat-label class="photo">Photo</mat-label>
    </td>
    <td>
      <table>
        <tr>
          <mat-label id="first_name">First Name:</mat-label>
        </tr>
        <tr>
          <mat-label id="last_name">Last Name:</mat-label>
        </tr>
        <tr>
          <mat-label id="email">Email:</mat-label>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" width="100%">
      <mat-label>Hobbies:</mat-label>
      <mat-label id="hobbies">Hobbies text:</mat-label>

    </td>
  </tr>
</table>



